# Rails

snippet logi
	logger.info  { "${1:message}" }${2}
snippet logd
	logger.debug { "${1:message}" }${2}
snippet logw
	logger.warn  { "${1:message}" }${2}
snippet loge
	logger.error { "${1:message}" }${2}
snippet logf
	logger.fatal { "${1:message}" }${2}

# For Gemfile

snippet gem
	gem '${1:gemname}'
snippet group
	group :${1:groupname} do
		gem '${2:gemname}'
		${3:othergems}
	end
